/***********************
********* Footer ******
************************/
#footer {
	color: #aaa;
	background: #424651;
}
span {
	padding: 0 1rem;
	transition: opacity 0.2s;
}
span a {
	color: #B0B2B8;
	text-transform: uppercase;
  font-size: 15px;
	letter-spacing: 1px;
	line-height: 30px;
}
span a:hover {
	text-decoration: none;

}
.sibling-fade {
	margin: 0;
	display: inline-block;
}
.sibling-fade:hover span:not(:hover) {
	opacity: 0.5;
}
#center-footer {
	padding: 2%;
	text-align: center;
}