<div class="white-bg">
    <div id="center">
      <h1>Projects</h1>
    </div>
    <div class="container">
      <div class="row">
          <div class="col-lg-4 col-sm-6">
              <div class="thumbnail">
                <img src="assets/images/sky.jpg">
                <div class="overlay">
                  <div class="desc">
                    <h1 id="slide">WEB422 App</h1>
                    <a href="https://rocky-woodland-63269.herokuapp.com/home" class="btn btn-primary" id="desc-button">View Project</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="thumbnail">
                <img src="assets/images/cactus.jpg">
                <div class="overlay">
                  <div class="desc">
                    <h1 id="slide">todoList</h1>
                    <a href="https://react-todo-1308.herokuapp.com/" class="btn btn-primary" id="desc-button">View Project</a>
                  </div>
                </div>
              </div>
            </div>
        <div class="col-lg-4 col-sm-6">
          <div class="thumbnail">
            <img src="assets/images/house.jpg">
            <div class="overlay">
              <div class="desc">
                <h1 id="slide">Weather App - IN PROGRESS</h1>
                <a routerLink="/projects" class="btn btn-primary" id="desc-button">View Project</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="center">
      <a routerLink="/projects" class="btn btn-primary" id="project-button">View All Projects</a>
    </div>
  </div>