.white-bg{
    background: linear-gradient(rgba(200,202,207,0.3),rgba(227,237,243,1));    
    border-top: none;
}
@media screen and (max-width: 900px) {
    #center {
        padding-top: 15%;
    }
}