 

<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar">
  <div class="container">
    <div class="navbar-header">
      <button class="hamburger hamburger--emphatic" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <img class="navbar-brand" width="50" src="assets/images/LogoBlack.png" />
    </div>
    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a id="ham" routerLink="/home">Home</a>
        </li>
        <li routerLinkActive="active">
          <a id="ham2" routerLink="/projects">Projects</a>
        </li>
        <li routerLinkActive="active">
          <a id="ham3" routerLink="/resume">Resume</a>
        </li>
        <li routerLinkActive="active">
          <a id="ham4" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <!--/.container-->
</nav>
<!--/nav-->
