.white-bg{
    background: linear-gradient(rgba(200,202,207,0.5),rgba(227,237,243,1));    
    border-top: none;
}
.container {
    width: 100%; /* Full width */
}
.page {
    padding-left: 10%;
    padding-right: 10%;
}
#top {
    padding-top:10%;
}
#resume {
    padding-top: 10%;
    text-align: center;
}
#hexagon {
    padding-top: 2%;
    text-align: center;
}

.center {
    text-align: center;
}
.center hr {
    background-color: #ad7b99;
    height: 5px;
    width: 75%;
}
.center p {
    width: 60%;
    display: inline-block;
    margin-bottom: 0;
}
.chris {
    font-size: 40px;
    padding-bottom: 1%;
}

h4 span {
    font-size: 20px;
}
.bars {
    padding-bottom: 3%;
    padding-right: 10%;
}
.circles svg {
    padding-bottom: 3%;
}
.circles svg text {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.timelineTitle {
    font-weight: bold;
}
.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 5px;
    margin: 0 auto;
    padding-top: 50px;
    background: #424651;
    transform: translate(-400%);

  }
   
  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    transform-origin: 35% -15%;
    background-color:#424651;
  }
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #D9C3D0;
  }
   
  .timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
   
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #D9C3D0 transparent transparent;
  }
  .timeline ul li:nth-child(even) div {
    left: -439px;
  }
   
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #D9C3D0;
  }
  .navbar-header button {
      border: 0;
  }
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px; /*250+45-6*/
    }
    .center hr {
        background-color: #ad7b99;
        height: 5px;
        width: 89%;
    }
    h4{
        font-size: 14px;
    }
    .chris {
        padding-top: 10%;
        font-size: 35px;
    }
  }
  @media screen and (max-width: 600px) {
    .timeline ul li {
      margin-left: 20px;
      transform: translate(-1000%);

    }
     
    .timeline ul li div {
      width: calc(100vw - 180px);
    }
     
    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
     
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #D9C3D0 transparent transparent;
    }
    .bars {
        padding-right: 10%;
    }
  }
  .pdf:hover {
      opacity: 0.8;
  }
  .bottom {
      padding: 5%;
  }

