<div class="white-bg">
  <div class="container">
    <div class="page">
      <div class="row">
        <div class="col-md-12">
          <div class="name">
            <h1>Chris Au</h1>
            <h5>Web Developer</h5>
            <h6>647-464-9438 | auhchris@gmail.com | Toronto, ON</h6>
          </div>
        </div>
        <div class="col-md-12">
          <h3>Profile</h3>
          <p>
            Highly self-motivated, positive, and well-organized individual
            <br> Excellent research, analytical, and problem solving skills
            <br> Enthusiastic quick learner; ability to work efficiently in fast-paced environments
            <br> Productive team-player; fosters a friendly and efficient work environment
            <br> Strong interpersonal skills; fluent in English and Cantonese
          </p>
        </div>
        <div class="col-md-12">
          <h3>
            <i class="fas fa-graduation-cap"></i> Education</h3>

        </div>
        <div class="col-md-12">
          <h3>Skills</h3>
          <div class="container" id="skillbar">
            <div class="skills html">HTML/CSS</div>
          </div>

          <div class="container" id="skillbar">
            <div class="skills css">JavaScript</div>
          </div>

          <div class="container" id="skillbar">
            <div class="skills js">Angular</div>
          </div>

          <div class="container" id="skillbar">
            <div class="skills php">React</div>
          </div>
        </div>

        <div class="col-md-12">
          <h3>
            <i class="fas fa-briefcase"></i> Experience</h3>
        </div>
      </div>
    </div>
  </div>
</div>