<div class="white-bg">
  <div class="container">
    <div class="page">
      <div class="row">
        <!--<div class="col-lg-12" id="resume">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="260" height="300" viewbox="0 0 259.8076211353316 300" style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);">
            <path fill="#424651" d="M129.9038105676658 0L259.8076211353316 75L259.8076211353316 225L129.9038105676658 300L0 225L0 75Z"></path>
            <image xlink:href="assets/images/logo.png" x="0" y="25" height="250px" width="250px" />
          </svg>
        </div>-->
        <div class="col-lg-12" id="top">
          <div class="center">
            <h1 class="chris">Chris Au</h1>
            <h4>
              <span>&#123;</span> 647-464-1438 || auhchris@gmail.com
              <span>&#125;</span>
            </h4>
          </div>
        </div>
        <div class="col-lg-12" id=hexagon>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="130" height="150" viewbox="0 0 129.9038105676658 150" style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);">
            <path fill="#424651" d="M64.9519052838329 0L129.9038105676658 37.5L129.9038105676658 112.5L64.9519052838329 150L0 112.5L0 37.5Z"></path>
            <image xlink:href="assets/images/icon.svg" x="37" y="45" height="50px" width="50px" />
          </svg>
        </div>
        <div class="col-lg-12" id="name">
          <div class="center">
            <h1>Profile</h1>
            <hr>
            <p>I am a highly motivated and positive person looking for a challenging opportunity. I am comfortable working in
              both a back-end and front-end position. Web development and design have always been a passion of mine.</p>
            <hr>
          </div>
        </div>
        <div class="col-lg-12" id=hexagon>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="130" height="150" viewbox="0 0 129.9038105676658 150" style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);">
            <path fill="#424651" d="M64.9519052838329 0L129.9038105676658 37.5L129.9038105676658 112.5L64.9519052838329 150L0 112.5L0 37.5Z"></path>
            <image xlink:href="assets/images/rocket.svg" x="37" y="52" height="50px" width="50px" />
          </svg>
        </div>
        <div class="col-lg-12" id="name">
          <div class="center">
            <h1>Skills</h1>
          </div>
        </div>
        <div class="col-md-6">
          <div class="center">
            <div class="bars">
              <svg width="100%" height="50">
                <rect x="50" y="20" rx="15" ry="15" width="80%" height="30" fill="#F1F6F9" />
                <rect x="50" y="20" rx="15" ry="15" width="75%" height="30" fill="#424651" />
                <text x="60" y="40" fill="white">HTML/CSS</text>
              </svg>
              <svg width="100%" height="50">
                <rect x="50" y="20" rx="15" ry="15" width="80%" height="30" fill="#F1F6F9" />
                <rect x="50" y="20" rx="15" ry="15" width="60%" height="30" fill="#424651" />
                <text x="60" y="40" fill="white">JavaScript</text>
              </svg>
              <svg width="100%" height="50">
                <rect x="50" y="20" rx="15" ry="15" width="80%" height="30" fill="#F1F6F9" />
                <rect x="50" y="20" rx="15" ry="15" width="65%" height="30" fill="#424651" />
                <text x="60" y="40" fill="white">Angular</text>
              </svg>
              <svg width="100%" height="50">
                <rect x="50" y="20" rx="15" ry="15" width="80%" height="30" fill="#F1F6F9" />
                <rect x="50" y="20" rx="15" ry="15" width="55%" height="30" fill="#424651" />
                <text x="60" y="40" fill="white">React</text>
              </svg>
              <svg width="100%" height="50">
                <rect x="50" y="20" rx="15" ry="15" width="80%" height="30" fill="#F1F6F9" />
                <rect x="50" y="20" rx="15" ry="15" width="65%" height="30" fill="#424651" />
                <text x="60" y="40" fill="white">Node.js/Express</text>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="center">
            <div class="circles">
              <!--2 * pi * R for stroke-dasharray -->
              <!--dasharray * (1 - x%) for fill -->
              <svg width="150" height="130" viewBox="0 0 120 120">
                <circle cx="60" cy="60" r="54" fill="none" stroke="#F1F6F9" stroke-width="12" />
                <circle cx="60" cy="60" r="54" fill="none" stroke="#ad7b99" stroke-width="12" stroke-dasharray="339.292" stroke-dashoffset="50.894"
                />
                <text x="16" y="60" fill="#424651">Visual Studio</text>
                <text x="40" y="80" fill="#424651">Code</text>

              </svg>
              <svg width="150" height="130" viewBox="0 0 120 120">
                <circle cx="60" cy="60" r="54" fill="none" stroke="#F1F6F9" stroke-width="12" />
                <circle cx="60" cy="60" r="54" fill="none" stroke="#ad7b99" stroke-width="12" stroke-dasharray="339.292" stroke-dashoffset="33.930"
                />
                <text x="28" y="60" fill="#424651">Microsoft</text>
                <text x="40" y="80" fill="#424651">Office</text>
              </svg>
              <svg width="150" height="130" viewBox="0 0 120 120">
                <circle cx="60" cy="60" r="54" fill="none" stroke="#F1F6F9" stroke-width="12" />
                <circle cx="60" cy="60" r="54" fill="none" stroke="#ad7b99" stroke-width="12" stroke-dasharray="339.292" stroke-dashoffset="84.823"
                />
                <text x="35" y="65" fill="#424651">Eclipse</text>
              </svg>
            </div>
            <!--circles-->
          </div>
          <!--center-->
          <div>
            <div class="bars">
              <svg width="100%" height="40">
                <rect x="50" y="20" rx="5" ry="5" width="80%" height="20" fill="#F1F6F9" />
                <rect x="50" y="20" rx="5" ry="5" width="60%" height="20" fill="#2B4162" />
                <text x="60" y="35" fill="white">Teamwork</text>
              </svg>
              <svg width="100%" height="40">
                <rect x="50" y="20" rx="5" ry="5" width="80%" height="20" fill="#F1F6F9" />
                <rect x="50" y="20" rx="5" ry="5" width="65%" height="20" fill="#2B4162" />
                <text x="60" y="35" fill="white">Communication</text>
              </svg>
              <svg width="100%" height="40">
                <rect x="50" y="20" rx="5" ry="5" width="80%" height="20" fill="#F1F6F9" />
                <rect x="50" y="20" rx="5" ry="5" width="75%" height="20" fill="#2B4162" />
                <text x="60" y="35" fill="white">Efficiency</text>
              </svg>
            </div>
          </div>
        </div>
        <!--col-md-6-->
        <div class="col-lg-12" id=hexagon>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="130" height="150" viewbox="0 0 129.9038105676658 150" style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);">
            <path fill="#424651" d="M64.9519052838329 0L129.9038105676658 37.5L129.9038105676658 112.5L64.9519052838329 150L0 112.5L0 37.5Z"></path>
            <image xlink:href="assets/images/lightbulb.svg" x="35" y="45" height="60px" width="60px" />
          </svg>
        </div>
        <div class="col-md-12" id="name">
          <div class="center">
            <h1>Education & Experience</h1>
          </div>
          <div class="timeline">
            <ul>
              <li>
                <div>
                  <time>2012-2017 </time>
                  <span class="timelineTitle">City of Markham</span>
                  <br>
                  <span class="timelinedesc">Aquatic Supervisor</span>
                </div>
              </li>
              <li>
                <div>
                  <time>2012-2016 </time>
                  <span class="timelineTitle">University of Toronto</span>
                  <br>
                  <span class="timelinedesc">Bachelor of Honours Science in Mental Health Studies</span>
                </div>
              </li>
              <li>
                <div>
                  <time>2016-Present </time>
                  <span class="timelineTitle">Seneca College</span>
                  <br>
                  <span class="timelinedesc">Ontario Advanced College Diploma in Computer Programming and Analysis</span>
                </div>
              </li>
              <li>
                <div>
                  <time>2017-Present </time>
                  <span class="timelineTitle">World Bowl Social Club</span>
                  <br>
                  <span class="timelinedesc">Bartender</span>
                </div>
              </li>
              <li>
                <div>
                  <span class="timelineTitle">Hire Me!</span>
                  <br>
                  <span class="timelinedesc"></span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!--col-md-12-->
        <!--
        <div class="col-lg-12" id=hexagon>
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="130" height="150" viewbox="0 0 129.9038105676658 150" style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);">
            <path fill="#424651" d="M64.9519052838329 0L129.9038105676658 37.5L129.9038105676658 112.5L64.9519052838329 150L0 112.5L0 37.5Z"></path>
            <image xlink:href="assets/images/play.svg" x="45" y="52" height="50px" width="50px" />
          </svg>
        </div>
        <div class="col-lg-12" id="name">
          <div class="center">
            <h1>Hobbies</h1>
          </div>
        </div> -->
        <div class="col-lg-12" id=hexagon>
          <a class="pdf" href="assets/images/chrisAuResume.pdf">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="130" height="150" viewbox="0 0 129.9038105676658 150" style="filter: drop-shadow(rgba(255, 255, 255, 0.5) 0px 0px 10px);">
              <path fill="#424651" d="M64.9519052838329 0L129.9038105676658 37.5L129.9038105676658 112.5L64.9519052838329 150L0 112.5L0 37.5Z"></path>
              <image xlink:href="assets/images/file-pdf.svg" x="40" y="52" height="50px" width="50px" />
            </svg>
          </a>
        </div>
      </div>
      <div class="bottom"></div>
    </div>
  </div>
</div>