<div class="nameIntro">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="intro">
          <h2>HELLO MY NAME IS</h2>
          <h1>CHRIS AU</h1>
          <hr>
          <h4>Student |Coder |Bartender</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- title -->

<div class="blue-bg">
  <div class="container" id="about">
    <div class="row">
      <div class="col-lg-6" id="about-title">
        <h1>Who Am I?</h1>
        <hr>
        <h2>A few words about me</h2>
      </div>
      <div class="col-lg-6" id="about-content">
        <p>I am currently studying computer programming at Seneca College. My goal is to become a full-stack web developer.
        </p>
        <p> I enjoy integrating functionality with design. Structure and order are very important to me. I love spending time
          on little details and making sure everything is up to my standard. </p>
        <p>Currently, I am experienced with JavaScript, HTML, CSS, and Java. I am also proficient with databasing software such
          as Oracle, and MySQL.</p>
      </div>
    </div>
  </div>
</div>
<!-- about -->

<div class="white-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" id="center-button">
        <a routerLink="/projects" class="btn btn-primary" id="project-button">View Projects</a>

      </div>
      <div class="col-lg-6" id="center-button">
        <a routerLink="/resume" class="btn btn-primary" id="project-button">View Resume</a>

      </div>
    </div>

  </div>

</div>
<!-- projects -->
<div class="blue-bg">
  <div class="container" id="about">
    <div class="row">
      <div class="col-lg-6" id="about-title">
        <h1>Contact Me</h1>
      </div>
      <div class="col-lg-6" id="about-title">
        <p>
          <i class="far fa-envelope"></i> auhchris@gmail.com
        </p>
        <p>
          <i class="fas fa-phone-square"></i> (647)-464-9438
        </p>
      </div>
    </div>
  </div>
</div>